@charset "gb2312";
#wrap{ background:#ffffff;}
/*头部背景*/
#top-outerbg{background:url( "./../../images/theme/zsy_bg.jpg" ) center  #ffffff;height:426px;  }
#top-innerbg{  }
/*底部背景*/
#bottom-outerbg{}

/*边框颜色*/
.col-usage, .col-coolsite, .col, .fmSite-tab li, dl, ul.col-row02, .comBox, #botNavi, .sedulist,.m-search,.botNavi ,.ecRow, .btmContent,dl.col-row01,.youqingContent{
	border-color: #dbdbdb;
}
.btmContent .tabHander li,ul.colTitle li.active,ul.colTitle li,.btmContent .tabHander li{
	border-top-color: #dbdbdb;
}
/* 背景颜色 底部电商 */
.ecRow .ecBottomLine,.btmContent .tabHander,.starCol .txt1Row2 a{ background:#dbdbdb; }


/*字体颜色*/
.tilTxt,.botNavi .botBlue,.ecRow .ecTilTxt .ecTilSpan,.col-hotKeys .hotKeys a, .box-prlInq .tit, .box-prlInq .more, .usage-tab .active, .col-coolsite .tit, .fmSite-tab li, .box-tuan a, .sortSite .tit a, .recomSite .tit a ,ul.colnavi li a, #botNavi ul li a.hex,.youqingContent .subject{
	color: #1a72c1;
}

/*搜索框选中及头�?/
.m-search-tab .active,.s-hot .hot-til,.s-hot .hot-con .bot-nub, .col-hotKeys .bot-nub{
	background:#63aae9;
}

/*星座链接*/
.starRow2 .detail,.starCol .star_chose a:hover{ color:#1a72c1; }

.s-hot .hot-con{ border-color:#63aae9; }

/*搜索�?新闻热点*/
.m-search,.s-hot .hot-con .cur{ background:#e4f2ff; }
.s-hot .hot-con .bot-nub{background:#63aae9;}
/*天气鼠标经过效果*/
/*.weather .tWrapHover,.weather .mWrapHover{ border:1px solid  #ffb20e;padding:0px; }
.weather li .t:hover{color:#af6f00;text-decoration:none;}*/

/* 图标 */
ul.col-row02 li, #botNavi ul li span, .morCrt a, ul.colTitle, span#mcLft, span#mcRgt,ul.colnavi li span ,.scroCtr a, .tilTxt .tilIcon, .btmc_con .btmc_la, .btmc_con .btmc_ra, .ecRow .ecTilTxt .ecTilIcon
,ul.col-row02 li, #botNavi ul li span, .morCrt a, ul.colTitle, span#mcLft, span#mcRgt,.s-hot .hot-clock,.topbar .wel ul li.mcol a.home:hover, .header .notice,#ldMore,
.footer .copyright .appleDownload, .footer .copyright .azDownload,.youqingContent .subject,.menutop{
	background-image: url(../../images/theme/icon-zsy.png);
}

.header .notice {
	background-position: -236px -69px;
}
.topbar .wel ul li.mcol a.home:hover{
	background-position: -232px -36px;
}
#ldMore{
	background-position: -232px 0px;
}
#ldMore.my{
	background-position: -253px 0px;
}
/*LOGO*/
/*.header .logo {
	background-image: url(../../../../../images/theme/zsy_logo.png);
	 _background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=noscale,src="../../../../../images/theme/zsy_logo.png");
}*/